
/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

h2.title {
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

h2.title:after{
    content: " ";
    position: absolute;
    border: 1px solid #f5f5f5;
    bottom:8px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -2;
}
h2.title:before{
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 220px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -110px;
}

.product-container {
    margin-bottom: 30px;
    padding-top: 10px;
    border: 1px solid #F7F7F5;
    overflow: hidden;
}

.product-container .image-container {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 180px;
    width: 180px;
}

.product-container .image {
    max-height: 180px;
    max-width: 180px;
}

.product-container .name {
    display: block;
    height: 50px;
    padding: 0 10px;
    overflow: hidden;
    color: #4f4f4f;
    font-size: 18px;
    font-weight: bold;
}

.product-container .price {
    padding: 5px 0 10px 0;
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.product-container .price-currency {
    color: #454545;
    font-size: 18px;
    font-weight: normal;
}

.product-container .not-available {
    color: #dc0000;
    font-size: 18px;
    font-weight: normal;
}

.read-more {
    background:#F5F5ED;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

.read-more:hover {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
}

.read-more i{
    margin-right:5px;
}
