@charset "UTF-8";

#footer {
    padding-top: 32px;
    background-color: rgb(18, 18, 18);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 23px;
    color: rgb(180, 173, 173);
    text-transform: none;
}

#footer a {
    color: rgb(132, 164, 51);
}

#footer h3 {
    color: rgb(180, 173, 173);
}

#contact-info {
    list-style: none;
    padding-left: 0
}

#contact-info .field {
    font-weight: bold;
}

@media (max-width: 767px) {
    #footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}
